#loader {
  background:rgba(0, 0, 0, 0.1) url(/images/spinner.gif) no-repeat scroll center center;
  float:right;
  height:300px;
  margin-top:10px;
  position:absolute;
  width:860px;
  z-index:50;
}
.handle {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background: #eeeeee; 
    border: 1px solid #bbbbbb; 
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    -moz-user-select: none;;
}
.flotr-mouse-value {
    z-index: 20;
}
.flotr-canvas, .flotr-overlay {
    z-index: 1;
}
.zoomHandle {
    width: 5px; 
    height: 20px; 
}
.scrollHandle {
    width: 100px;
    height: 12px;
}
.flag {
    width: 16px;
    height: 16px;
}
.flag-1 {
    /* Green Up Arrow */
    background: url('/images/indicators.gif') 0 0 no-repeat;
    margin-top: 60px;
}
.flag-2 {
    /* Red Down Arrow */
    background: url('/images/indicators.gif') -16px 0 no-repeat;
    margin-top: -40px;
}
.flagpole {
    opacity:0.3;
}
.flagpole-1 {
    border-left: 1px solid green;
}
.flagpole-2 {
    border-left: 1px solid orange;
    opacity:0.2;
}
.flotr-grid-label {
    font-size: 11px;
    background: #ffffff;
    margin: 2px 0px 0px 4px;
}
.flotr-mouse-value {
	font-size: 10px;
}
#summaryGraph .flotr-grid-label {
    margin-top: -16px;
    background: transparent;
    text-align: left;
}

