<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/css/finance.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8">
  
  <!--[if IE]><script language="javascript" type="text/javascript" src="/js/flotr/excanvas.js"></script><![endif]-->
  <script language="javascript" type="text/javascript" src="/js/prototype.js"></script>
  <script language="javascript" type="text/javascript" src="/js/scriptaculous.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/base64.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/canvas2image.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/canvastext.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/flotr.js"></script>
  <script language="javascript" type="text/javascript"  src="/js/effects.js"></script> 
  <script language="javascript" type="text/javascript"  src="/js/dragdrop.js"></script> 
  <script language="javascript" type="text/javascript"  src="/js/controls.js"></script> 
  <script language="javascript" type="text/javascript"  src="/js/builder.js"></script>
  
  <script type="text/javascript" src="/js/humble/HumbleFinance.js"></script>
  
  <script type="text/javascript" src="/js/charting.js"></script>
  <script type="text/javascript" >

  document.observe("dom:loaded", function() {
    
    $$('.qbuilder_stmt').invoke('observe', 'click', function(event) {
      var elmt = $('id_query');
      var ct = elmt.value;
      var st = elmt.value + ((elmt.value == "") ? "" : " ") + event.target.innerHTML;
      elmt.value = st.unescapeHTML();
      elmt.focus();
    });
    
    Event.observe('chartform', 'submit', function(event) {
        priceData = [];
        volumeData = [];
        summaryData = [];
        jsonData = [];
        bgData = [];
        flagData = [];

        openData = [];
        closeData = [];
        highData = [];
        lowData = [];
        
        $('finance').update("<div id=\"labels\"><div id=\"dateRange\">&nbsp;</div></div>");
        
        $('chartform').request({
            onFailure: function(t) {
              alert("fail");
            },
            onSuccess: function(t) {
              delete rdata;
              
              eval("rdata = "+t.responseText);
              //$('jsondiv').update(rdata);
              chartData(rdata["contents"]["data"]);
            }
        });
        Event.stop(event); // stop the form from submitting
    });
  });
   
  </script>
</head>
<body>
  <div id="querybuilder">
    <div id="queries">
      <a href="#" class="qbuilder_stmt">macd(17,8) is_crossing macd_signal(17,8,9)</a>
      <a href="#" class="qbuilder_stmt">rsi(14) is_crossing 50</a>
      <a href="#" class="qbuilder_stmt">macd(17,8) gradient >= 0</a>
    </div>
    <div id="indicators">
      <a href="#" class="qbuilder_stmt">macd(17,8)</a>
      <a href="#" class="qbuilder_stmt">macd_signal(17,8,9)</a>
      <a href="#" class="qbuilder_stmt">rsi(14)</a>
    </div>
    <div id="operators">
      <a href="#" class="qbuilder_stmt">>=</a>
      <a href="#" class="qbuilder_stmt"><=</a>
      <a href="#" class="qbuilder_stmt">is_crossing</a>
      <a href="#" class="qbuilder_stmt">is_increasing</a>
    </div>
    <br clear="all"/>
  </div>
  
	<form id="chartform" method="GET" action="/query/">{% csrf_token %}
		<ul>
			<li>
				{{form.symbol}} {{form.symbol.errors}} symbol
			</li>
			<li>
				{{form.start_date}} {{form.start_date.errors}} from date (YYYYMMDD)
			</li>
			<li>
				{{form.end_date}} {{form.end_date.errors}} to date (YYYYMMDD)
			</li>
			<li> 
      	<input id="id_query" type="text" name="query" maxlength="255" />  {{form.query.errors}} query
      </li>
		</ul>
		
		<button type="submit" class=""><span>results?</span></button>
	</form>

  <div id="graphcontainer">
  <div id="finance">
      <div id="labels">
          <div id="dateRange">&nbsp;</div>
      </div>
  </div>
  </div>
	
</body>
</html>