<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/css/finance.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8">
  
  <!--[if IE]><script language="javascript" type="text/javascript" src="/js/flotr/excanvas.js"></script><![endif]-->
  <script language="javascript" type="text/javascript" src="/js/prototype.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/base64.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/canvas2image.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/canvastext.js"></script>
  <script language="javascript" type="text/javascript" src="/js/flotr/flotr.js"></script>
  
  
  <script type="text/javascript" src="/js/humble/HumbleFinance.js"></script>
  
  <script type="text/javascript" src="/js/charting.js"></script>
  <script type="text/javascript" >

  document.observe("dom:loaded", function() {
    
    Event.observe('chartform', 'submit', function(event) {

        $('chartform').request({
            onFailure: function() {
              alert("fail");
            },
            onSuccess: function(t) {
              delete rdata;
              //$('#finance').update('');
              eval("rdata = "+t.responseText);
              //$('jsondiv').update(rdata);
              chartData(rdata["contents"]["data"]);
            }
        });
        Event.stop(event); // stop the form from submitting
    });
  });
   
  </script>
</head>
<body>
	<form id="chartform" method="GET" action="/query/">{% csrf_token %}
		<ul>test
			<li>
				{{form.symbol}} {{form.symbol.errors}} symbol
			</li>
			<li>
				{{form.start_date}} {{form.start_date.errors}} from date (YYYYMMDD)
			</li>
			<li>
				{{form.end_date}} {{form.end_date.errors}} to date (YYYYMMDD)
			</li>
			<li>
				{{form.query}} {{form.query.errors}} query
			</li>
		</ul>
		
		<button type="submit" class=""><span>results?</span></button>
	</form>

  <div id="graphcontainer">
  <div id="finance">
      <div id="labels">
          <div id="dateRange">&nbsp;</div>
      </div>
  </div>
  </div>
  
  <div id="jsondiv">
    
  </div>
	
</body>
</html>