{% extends "layout.html" %}
{% load experiments %}
{% block css %}
  <link rel="stylesheet" href="/css/finance.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/modalbox.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/prototip.css" type="text/css" media="screen" charset="utf-8">
  <!-- <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8"> -->
{% endblock %}
{% block content %}
<div class="about_content clearfix grid_12">
	<h1>Query Language Reference</h1>
  <h3>Syntax:</h3>
  <img src="/images/grammar_diagram.png" />
  Last Updated 10/4/2010
</div>
{% endblock %}
