<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<form id="id_password" method="post" action="/demo/">{% csrf_token %}
		<ul>
			<li>
				{{form.symbol}} {{form.symbol.errors}} symbol
			</li>
			<li>
				{{form.from_date}} {{form.from_date.errors}} from date (YYYYMMDD)
			</li>
			<li>
				{{form.to_date}} {{form.to_date.errors}} to date (YYYYMMDD)
			</li>
			<li>
				{{form.expression1}} {{form.expression1.errors}} exp1
			</li>
			<li>
				{{form.expression2}} {{form.expression1.error2}} exp2
			</li>
			<li>
				{{form.expression3}} {{form.expression1.error3}} exp3
			</li>
			<li>
				{{form.expression4}} {{form.expression1.error4}} exp4
			</li>
			<li>
				{{form.expression5}} {{form.expression1.error5}} exp5
			</li>
			<li>
				{{form.expression6}} {{form.expression1.error6}} exp6
			</li>
			<li>
				{{form.expression7}} {{form.expression1.error7}} exp7
			</li>
			<li>
				{{form.expression8}} {{form.expression1.error8}} exp8
			</li>
		</ul>
		
		<button type="submit" class=""><span>results?</span></button>
	</form>

	<div>
		{{result}}
	</div>
	
	
</body>
</html>