<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link type="text/css" rel="stylesheet" href="/css/reset.css"/>
		<link type="text/css" rel="stylesheet" href="/css/text.css"/>
		<link type="text/css" rel="stylesheet" href="/css/26099.css"/>
		<link type="text/css" rel="stylesheet" href="/css/sparrow.css"/>
		<link rel="stylesheet" href="/css/finance.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8">

		<!--[if IE]><script language="javascript" type="text/javascript" src="/js/flotr/excanvas.js"></script><![endif]-->
		<script language="javascript" type="text/javascript" src="/js/prototype.js"></script>
		<script language="javascript" type="text/javascript" src="/js/flotr/base64.js"></script>
		<script language="javascript" type="text/javascript" src="/js/flotr/canvas2image.js"></script>
		<script language="javascript" type="text/javascript" src="/js/flotr/canvastext.js"></script>
		<script language="javascript" type="text/javascript" src="/js/flotr/flotr.js"></script>


		<script type="text/javascript" src="/js/humble/HumbleFinance.js"></script>

		<script type="text/javascript" src="/js/charting.js"></script>
		<script type="text/javascript" >
			js = {{ result|safe }};
			document.observe("dom:loaded", function() {
				if(js){
					chartData(js.contents.data);
				}
			});

</script>
</head>
<body>
	<div class="container container_12 clearfix">
		<div class="welcome_text grid_6 push_3">
			<h1>Demo Chart</h1>
			<div id="graphcontainer">
				<div id="finance">
					<div id="labels">
						<div id="dateRange">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
