{% extends "layout.html" %}
{% load experiments %}
{% block css %}
  <link rel="stylesheet" href="/css/finance.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/modalbox.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/prototip.css" type="text/css" media="screen" charset="utf-8">
  <!-- <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8"> -->
{% endblock %}
{% block content %}
	<h1>FAQ</h1>
	<dl id="faq">
		<dt>What is TradeSparrow?</dt>
		<dd>We provide web tools to perform technical analysis on stocks/equities. Our tools are efficient and super easy to use so that newbies and casual traders/investors can jump in right away.</dd>

		<dt>What is technical trading?</dt>
			<dd>This is a method of trading where buying and selling decisions can be
reasoned as follows: "I've seen this kind of price movement
pattern several times before and 9 out of 10 times it moves higher over
the next hour/day/week/month.  There is a good chance that I can
profit if I enter."  A technical trader identifies repeating patterns and acts
on the knowledge that the patterns indicate a higher probability of one
outcome over another.</dd>
	<dt>If this works, then why does it work? Do such patterns really exist?</dt>
		<dd>We are assuming you're a small investor ($10k - $50k). Large investors
			(100's of $millions) have an overwhelming effect in which direction a
			stock goes.  When they decide to enter (or exit), they leave behind traces.
            If you can pick up on these traces or patterns, then you can ride the
            wave on the back of the whale, as they say.</dd>


		<dt>Okay I get it, but can I really compete against those guys, the guys with the super computers and PhD programmers?</dt>
			<dd>You (the small guy) are a minnow.  You can move quick, increase or
			reduce your total risk profile at a drop of the hat.  Big players with
			$100's millions or $billions cannot. They have to use every speed trick, 
			whether it's faster programs or faster computers, just to
			make their whale look and act like a minnow. They have to be able
			move their money without drawing attention or making huge waves. They
			can try, but you have the innate advantage of being small.</dd>


		<dt>My financial adviser and mainstream opinion say I cannot beat the market by trading it.</dt>
			<dd>Tell it to Goldman Sachs. Here is the fact by the numbers: If you bought a
            stock at any given day at the closing price with the intent to sell it at the close within 
            the next 30 days, what is the probability that there will be an opportunity 
            given to you to sell this stock at a profit? The answer is 29/30, or a 96.7% chance of winning.  
            There is only one day out of the total 30 days that you could have bought at
			the absolute highest price and hence a 1/30 (3.3%) chance that makes
			this trade a definite loser from the start. Despite the odds, most
			traders will not be able to turn a profit. When the stock moves in the
			trader's favor, he holds (greed).  When the price turns around and
			erases all his gain, which it likely will as there is also only a 3.3%
			chance that he bought at the perfectly lowest price, then he sells out of fear.
			Rinse and repeat. By using technical signals trader can use quantitative data
			(statistics) to govern his buying and selling decisions rather than raw emotions.</dd>


		<dt>Are you guys financial advisers?</dt>
			<dd>No.</dd>


		<dt>There are other tools out there with a lot more bells and whistles. Why should I use yours?</dt>
			<dd>
				<p>We are not the most feature-loaded tool. We focus on solving the problem differently.  One of our goals is to make the tool easy to use, and we do this by:</p>
				<ol>
					<li>Not asking you to learn some obscure programming language or become a programmer in order to work the tool</li>
					<li>Not requiring you to install a bloated, fugly Windows program loaded with a dozen screens and two dozen buttons and settings</li>
					<li>Not asking you commit $5k-$10k to open a trading account before giving full access to the tool</li>
					<li>Not charging you $100s or $1000s for the software on top of monthly data fees.</li>
				</ol>
				<p>With us, you can get started right away defining strategies with good heuristics and back testing them in under 10 seconds - for free. That, in our mind, is easy to use.</p>
			</dd>
		<dt>Can you guarantee that I will make money if I use your stuff?</dt>
			<dd>No.</dd>

		<dt>Why are you doing this?</dt>
			<dd>
				<p>On September 14th 2010, a AP-CNBC poll revealed that:
			"the perception that the market is unfair is widespread. Nearly 90
			percent of those with portfolios of less than $50,000 said the market
			is unfair to small investors. ...More than 75 percent of investors
			worth at least $250,000 say the market is unfair to the little guy."
			Due to certain artificial economic incentives, huge sums money have 
			been shifted out of Main Street and reallocated into Wall Street mega
            funds in a bid to seek higher returns trading 
            against the little guy.  To whatever extent we can do, we would like 
            to see the trend reverse by helping the little guy play better.
			</p>
			</dd>

		<dt>How are you going to make money from this?</dt>
			<dd>We will add premium features. For now we're in beta so take advantage to play with what we have.</dd>


		<dt>Who are you guys?</dt>
			<dd>Nick Johnson, Stuart Ross, and Jonathan Ho.  We are 3 programmers in Austin, Texas.</dd>
	</dl>
{% endblock %}
