<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link type="text/css" rel="stylesheet" href="/css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="/css/text.css"/>
	<link type="text/css" rel="stylesheet" href="/css/26099.css"/>
	<link type="text/css" rel="stylesheet" href="/css/sparrow.css"/>
</head>
<body>
	<div class="container container_12 clearfix">
		<div class="welcome_text grid_6 push_3">
			<h2>Welcome To Trade Sparrow!</h2>
			<p>Are you a stock investor looking to get into the action of technical trading?</p>
			<h3>OR</h3>
			<p>Do you find that the current batch of trading tools are often too complicated, or too costly, and unsuitable to use during your day job?</p>
			<br/>
			<h3>We offer an intuitive toolset that features:</h3>
			<ul>
				<li>No software to install</li>
				<li>No programming required</li>
				<li>Low monthly price</li>
			</ul>
			<h3>Test Run Now!</h3>
			<form method="get" action="/query/">{% csrf_token %}
				<label>Ticker Symbol: </label><input type="text" name="symbol"/>

				<input type="submit" value="GO"/>
			</form>
		</div>

	</div>
</body>
</html>
