<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
		<link type="text/css" rel="stylesheet" href="/css/reset.css"/>
		<link type="text/css" rel="stylesheet" href="/css/text.css"/>
		<link type="text/css" rel="stylesheet" href="/css/26099.css"/>
		<link type="text/css" rel="stylesheet" href="/css/sparrow.css"/>
		<title>TradeSparrow</title>
		{% block css %}{% endblock %}
		{% block scripts %} {% endblock %}
	</head>
<body>
	<div class="container container_12 clearfix">
		<div class="header grid_12">
			<h1><a href="/">TradeSparrow</a></h1>
			<div class="header_nav">
				<a href="faq">About Us</a>
			</div>
		</div>
		<div class="feedback_btn">
		  <a href="/feedback/" target="_blank"><img src="/images/feedback.png"/></a>
	    </div>
		{% block content %}{% endblock %}
	</div> <!-- close container -->
</body>
</html>
