<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/css/reset.css"/>
		<link type="text/css" rel="stylesheet" href="/css/text.css"/>
		<link type="text/css" rel="stylesheet" href="/css/26099.css"/>
		<link type="text/css" rel="stylesheet" href="/css/sparrow.css"/>
		{% block css %}{% endblock %}
		{% block scripts %} {% endblock %}
	</head>
<body>
	<div class="container container_12 clearfix">
		<div class="header grid_12">
			<h1>Trade Sparrow</h1>
		</div>
		{% block content %}{% endblock %}
	</div> <!-- close container -->
</body>
</html>
